
.btn-light {
    background-color: white;
    border-color: white;
    margin-top: 20rem;
    border-radius: 50px;

}

.btn-primary {
    background-color: #7AC7FF;
    border-color: #7AC7FF;
    margin-top: 20rem;
    margin-left: 1.5rem;
    
}


#Logo {
    width: 305px;
    margin-top: 30px;
    margin-left: 30px;
    border: white;
    border-width: 1px;
    border-radius: 14px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    
}

#search {
    width: 110px;
    margin-left: 20px;
    margin-right: 20px;  
}

body {
    background-image: url(assets/chicken-alfredo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

button img {
    width: 150px;
}

form {
    padding-left: 10px;
}